

#clockContainer {
    position: relative;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    height: 40vw;                           /*height is given in "vw", because we want to make a box & different screen sizes have diffrent ratio.*/
    width: 40vw;
    margin: auto;                           /*To Get The clockContainer in the center*/
    top: 2vw;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 28%;
    top: 22%;
    left: 48.85%;
    position: relative;
}

#minute {
    width: 1%;
    height: 36%;
    top: -14%;
    left: 49.5%;
    position: relative;
}

#second {
    width: 0.85%;
    height: 45%;
    top: -58.7%;
    left: 49.5%;
    position: relative;
}

/*24:40*/
